<!doctype html>
<html ng-app="quiz" >
<head>
  <meta charset="utf-8">
  <title>Quiz Engine</title>
  <!-- <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" />  -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


  <link rel="stylesheet" href="/static/style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>



<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
 --><!--   <script src="https://raw.github.com/twitter/bootstrap/master/docs/assets/js/bootstrap.js"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
  <script src="/static/app.js"></script>
</head>
<body>
  <div ng-controller="QuizController">
    <ul class="unstyled">


      <li ng-repeat="question in questions">
       <strong class="question">[[question.questionText]]</strong>
       <ul class="unstyled" id="quest_[[$parent.$index]]">
        <li ng-repeat="answer in question.answers">
          <label class="isCorrect_[[answer.selected]]" for="quest_[[$parent.$index]]_answer_[[$index]]">
            <input type="radio" id="quest_[[$parent.$index]]_answer_[[$index]]" 
            ng-model="answers[$parent.$index]" value="[[ answer.answerText ]]"  name="quest_[[$parent.$index]]_answers" />[[ answer.answerText ]]</label>
        </li>
       </ul>
      </li>
    </ul>
    <button class="btn" type="submit" ng:click="showResult()">Submit</button>
  <div class="well">
    <p>you got [[ correctCount ]] out of [[questions.length]] right</p>
    
  </div>
    
  </div>
  
 </body>
</html>
